// Block: container-about
.container-about {
  font-family: Lato; //margin-top: $spacer;
  .overlap {
    margin-top: -180px;
  }
  .row {
    background-color: white;
    padding-top: 0px;
  }
  .window {
    height: 300px;
    width: 400px;
    text-align: center;
  }
  .fixedHeight {
    height: 250px;
    .fixedHeight i {
      vertical-align: middle;
    }
  }
  .page-header {
    //border-bottom: 1px solid #eee;
    border-bottom: 0px;
  }
  .InteriorImage {
    background-color: $theme-color-main;
    background-image: url("/web-dist/images/ExteriorBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    width: 100%;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    margin-top: 30px;
    margin-bottom: 60px;
    color: #3c3c3c;
    font-family: 'Lobster', cursive;
    font-size: 2.6rem;
  }
  .InteriorImage span {
    background-color: #3c3c3c;
  }
  .ExteriorImage {
    background-color: $theme-color-main;
    background-image: url("/web-dist/images/InteriorBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    width: 100%;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
    color: #3c3c3c;
    font-size: 2.6rem;
  }
  .ExteriorImage span {
    background-color: #fc9220;
  }
  .glyphicon {
    font-size: 100px;
    padding-bottom: 50px;
    padding-top: 50px
  }
  .description {
    color: #3c3c3c;
  }
  .jumbotron {
    border-radius: 0px;
    background-color: white;
  }
  .verticalLine {
    border-left: thick solid #3c3c3c;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .darktheme {
    background-color: #7a7e82;
    color: white;
  }
  .lightHeight {
    background-color: #eee;
  }
  .roomTypeLogo {
    float: left;
    margin-right: 0.6em;
    font-size: 18px;
  }
  .amenitiesList {
    padding: 3px;
    font-size: 0.9em;
    color: #3c3c3c;
  }
  .material-icons {
    float: left;
    font-size: 20px;
    margin-right: 0.4em;
  }
  .roomType {
    box-shadow: 5px 5px 18px 0px rgba(0, 0, 0, 0.4) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
    border-left-width: 0px !important;
    margin-top: 2em;
  }
  .secondColumn {
    padding-right: 5px;
  }
  .modalButton {
    border: 0px !important;
    padding: 0px !important;
    background-color: white !important;
    position: relative;
  }
  .galleryLink {
    top: 37%;
    border: solid 2px #3c3c3c;
    color: #3c3c3c;
    font-size: 1.1em;
    font-family: Montserrat;
    letter-spacing: 1px;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: table;
    margin: 0 auto;
    margin-top: -70%;
  }
  .galleryButton {
    display: table;
    margin: 0 auto;
  }
  .titletext {
    font-size: 1.8rem;
    text-align: center;
    color: #3c3c3c;
    font-family: Montserrat;
    border-bottom: 1px solid #ef767a;
    letter-spacing: 2px;
    display: table;
    margin: 0 auto;
  }
  .mainDescription {
    color: #3c3c3c;
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 35px;
    margin-left: 10em;
    margin-right: 10em;
    letter-spacing: 1px;
  }
  .mainLocation {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #ef767a
  }
  .mainLocationText {
    font-size: 1rem;
    color: #3c3c3c;
  }
  #myCarouselGallery {
    background-color: white;
  }
  .carousel-control {
    background: none !important;
  }
  .glyphicon-chevron-left {
    font-size: 1.5em;
  }
  .glyphicon-chevron-right {
    font-size: 1.5em;
  }
  .roomTypeBox {
    font-size: 1.5rem;
    text-align: center;
    color: #3c3c3c;
    font-family: 'Lato';
    margin-top: 1em;
    letter-spacing: 1px;
  }
  .roomTypeText {
    text-align: center;
    color: #3c3c3c;
    font-family: Montserrat;
    border-bottom: 1px solid #ef767a;
    letter-spacing: 2px;
    display: table;
    margin: 0 auto;
  }
  .roomTypeImage {
    width: 100%;
  }
  @media only screen and (max-width: 800px) {
    .window {
      height: 330px;
      width: 340px;
      text-align: center;
    }
    .galleryLink {
      margin-top: -80%;
    }
    .mainDescription {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  @media only screen and (max-width: 360px) {
    .galleryLink {
      margin-top: -60%;
    }
  }
}