// Block: container-about
.container-about {
  //margin-top: $spacer;
  .slideanim {
    visibility: hidden;
  }
  .overlap {
    margin-top: -180px;
  }

  .fixedHeight{
    height:250px;
    
    .fixedHeight i{
      vertical-align: middle;
    }
  }

  .page-header {
    //border-bottom: 1px solid #eee;
    border-bottom: 0px;
}

  @media only screen and (max-width: 500px) {
    .overlap {
      margin-top: -235px;
    }
  }
  .InteriorImage {
    background-color: $theme-color-main;
    background-image: url("/web-dist/images/ExteriorBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    width: 100%;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    margin-top:30px;
    margin-bottom: 60px;
    color:#0e3054;
    font-family: 'Lobster', cursive;
    font-size: 2.6rem;
  }
  .InteriorImage span{
    background-color: #0e3054;
  }
  .ExteriorImage {
    background-color: $theme-color-main;
    background-image: url("/web-dist/images/InteriorBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    width: 100%;
    /* Set background image to fixed (don't scroll along with the page) */
    background-attachment: fixed;
    /* Center the background image */
    background-position: center;
    margin-top:60px;
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
    color:#0e3054;
    font-size: 2.6rem;
  }
  .ExteriorImage span{
    background-color: #fc9220;
  }
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  .glyphicon {
    font-size: 100px;
    padding-bottom: 50px;
    padding-top: 50px
  }
  .description {
    color: #0e3054;
  }
  .jumbotron {
    border-radius: 0px;
  }
  .verticalLine {
    border-left: thick solid #0e3054;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .darktheme {
    background-color: #7a7e82;
    color: white;
  }

  .lightHeight{
    background-color: #eee;
  }
}