.container-booknow {
    font-family: Lato;
    .page-header {
        //border-bottom: 1px solid #eee;
        border-bottom: 0px;
    }
    .li{
        padding-top:1.5px;
        padding-bottom:1.5px;
    }
}