.container-bookingBox {
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
        font-size: 16px;
    }
    font-family: Lato;
    background-color: white;
    padding-top:0px;
    a {
        color: white !important;
    }
    #enquireButton {
        padding: 0.5em;
        background-color: #ef767a;
    }
    .bookNowBox {
        box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.4) !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        -webkit-transition: 0.2s linear !important;
        transition: 0.2s linear !important;
        -webkit-transition-property: -webkit-transform, all !important;
        transition-property: transform, all !important;
        border-left-width: 0px !important;
        text-align: center;
        margin-top: -2em;
        background-color: white;
        margin-bottom: 3em;
        -webkit-appearance: none;
    }
    @media only screen and (max-width: 800px) {
        .bookNowBox {
            margin-left: 2em;
            margin-right: 2em;
        }
    }
    .form-group {
        padding: 1em;
    }
    .control-label {
        font-size: 0.9em;
    }
    .btn-primary {
        border-color: #ef767a !important;
        border-radius: 0px !important;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .form-control {
        border-radius: 3px;
        height: 44px;
        border-color: white;
        box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.1) !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        -webkit-transition: 0.2s linear !important;
        transition: 0.2s linear !important;
        -webkit-transition-property: -webkit-transform, all !important;
        transition-property: transform, all !important;
        border-left-width: 0px !important;
        -webkit-appearance: none;
    }
    .input-group-addon {
        background-color: white !important;
        border-color: white;
        border-right-width: 0px !important;
        box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.1) !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        -webkit-transition: 0.2s linear !important;
        transition: 0.2s linear !important;
        -webkit-transition-property: -webkit-transform, all !important;
        transition-property: transform, all !important;
        -webkit-appearance: none;
    }
}