.container-booknow {
    font-family: Lato;
    .page-header {
        //border-bottom: 1px solid #eee;
        border-bottom: 0px;
    }
    .li {
        padding-top: 1.5px;
        padding-bottom: 1.5px;
    }
    .flowHorizontalImage {
        padding-bottom: 4em;
        padding-top: 2em;
    }
    .flowVerticalImage {
        width: 0px;
        height: 0px;
    }
    @media only screen and (max-width: 500px) {
        .flowHorizontalImage {
            width: 0px;
            padding: 0px;
        }
        .flowHorizontalImage{
            width:100%
        }
    }
}