.container-booknow {
    font-family: Lato;
    .page-header {
        //border-bottom: 1px solid #eee;
        border-bottom: 0px;
    }
    .li {
        padding-top: 1.5px;
        padding-bottom: 1.5px;
    }
    .flowHorizontalImage {
        padding-bottom: 4em;
        padding-top: 2em;
    }
    .flowVerticalImage {
        width: 0px;
        height: 0px;
    }
    .form-control {
        border-radius: 3px;
        height: 44px;
        border-color: white;
        box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.1) !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        -webkit-transition: 0.2s linear !important;
        transition: 0.2s linear !important;
        -webkit-transition-property: -webkit-transform, all !important;
        transition-property: transform, all !important;
        border-left-width: 0px !important;
    }
    @media only screen and (max-width: 500px) {
        .flowHorizontalImage {
            width: 0px;
            padding: 0px;
        }
        .flowHorizontalImage {
            width: 100%
        }
    }
    .label {
        float: left;
    }
    .input-group-addon {
        background-color: white !important;
        border-color: white;
        border-right-width: 0px !important;
        box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.1) !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        -webkit-transition: 0.2s linear !important;
        transition: 0.2s linear !important;
        -webkit-transition-property: -webkit-transform, all !important;
        transition-property: transform, all !important;
    }
    .center-block {
        padding:0px;
        box-shadow: 5px 5px 18px 0px rgba(0, 0, 0, 0.4) !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        -webkit-transition: 0.2s linear !important;
        transition: 0.2s linear !important;
        -webkit-transition-property: -webkit-transform, all !important;
        transition-property: transform, all !important;
        border-left-width: 0px !important;
    }
}