.container-location {
  font-family: Lato;
  .jumbotron {
    border-radius: 0px;
    background-color: white;
    color: #7a7e82;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px
  }
  .titletext {
    font-size: 1.8rem;
    text-align: center;
    color: #3c3c3c;
    font-family: Montserrat;
    border-bottom: 1px solid #ef767a;
    margin-left: 13.5em;
    margin-right: 13.5em;
    letter-spacing: 2px;
    margin-bottom: 0px;
    display: table;
    margin: 0 auto;
  }
  .divideline {
    width: 49%;
    width: calc(50% - 1px);
    border-right: 0px solid #76A5AF;
    display: block;
    height: 70px;
  }
  .feature-icon-container {
    text-align: center;
  }
  .blackTheme {
    background-color: #3c3c3c;
  }
  .locationCard {
    border-radius: 7px;
    padding: 0px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
    border-left-width: 0px !important;
  }
  #myCarouselLocation2{
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  .locationImage {
    width: 100%;
    padding-left: 0.4em;
    padding-right: 0.4em;
    padding-top: 0.4em;
    height: 280px;
  }
  .cardBoundry {
    padding: 0.7em;
    position: relative;
  }
  .locationDescription {
    height: 180px;
  }
  .page-header {
    border-bottom: 0px;
    background-color: white;
  }
  .slideanim {
    visibility: hidden;
  }
  .overlap {
    margin-top: -180px;
  }
  .carousel-indicators li {
    visibility: hidden;
  }
  .window {
    height: 300px;
    width: 400px;
    text-align: center;
  }
  .page-header {
    //border-bottom: 1px solid #eee;
    border-bottom: 0px;
  }
  @media only screen and (max-width: 500px) {
    .overlap {
      margin-top: -235px;
    }
    .window {
      height: 330px;
      width: 340px;
      text-align: center;
    }
  }
  .description {
    color: #3c3c3c;
  }
  .verticalLine {
    border-left: thick solid #3c3c3c;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .nameTag {
    height: 3.2em;
  }
  .locationText {
    margin-top: 0.8em;
  }
  .locationHeading {
    color: white;
    font-size: 1em;
    text-align: center;
  }
  .locationDescription {
    background-color: #3c3c3c;
    text-align: center;
    margin-left: 0.45em;
    margin-right: 0.45em;
    font-size: 0.9em;
    color: white;
    height: 215px;
  }
  .locationCardBottomPadding {
    height: 0.4em;
    border-radius: 7px;
  }
  .multi-item-carousel {
    background-color: white;
    .carousel-inner {
      >.item {
        transition: 500ms ease-in-out left;
      }
      .active {
        &.left {
          left: -33%;
        }
        &.right {
          left: 33%;
        }
      }
      .next {
        left: 33%;
      }
      .prev {
        left: -33%;
      }
      @media all and (transform-3d),
      (-webkit-transform-3d) {
        >.item {
          // use your favourite prefixer here
          transition: 50ms ease-in-out left; //transition: 500ms ease-in-out all;
          //backface-visibility: visible;
          transform: none!important;
        }
      }
    }
    .carouse-control {
      &.left,
      &.right {
        background-image: none;
      }
    }
  }
}