.container-rules {
    font-family: Lato;
    .page-header {
        //border-bottom: 1px solid #eee;
        border-bottom: 0px;
    }
    .material-icons {
        float: left;
        margin-right: 0.8em;
    }
    .fa {
        float: left;
        margin-right: 1.2em;
        margin-top:0.2em;
        margin-left:0.1em;  
    }
    .rulesList{
        padding:3px;
    }
}