.container-rules {
    font-family: Lato;
    .row {
        background-color: white;
        padding-top: 0px;
    }
    .jumbotron {
        background-color: white;
        color: #79AFE8;
        padding-top: 2em;
        padding-bottom: 0px;
    }
    .page-header {
        //border-bottom: 1px solid #eee;
        border-bottom: 0px;
    }
    .material-icons {
        float: left;
        margin-right: 0.8em;
    }
    .fa {
        float: left;
        margin-right: 1.2em;
        margin-top: 0.2em;
        margin-left: 0.1em;
        font-size: 18px;
    }
    .rulesList {
        padding: 3px;
    }
    .center-block {
        box-shadow: 5px 5px 18px 0px rgba(0, 0, 0, 0.4) !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        -webkit-transition: 0.2s linear !important;
        transition: 0.2s linear !important;
        -webkit-transition-property: -webkit-transform, all !important;
        transition-property: transform, all !important;
        border-left-width: 0px !important;
    }
    .titletext {
        font-size: 1.8rem;
        text-align: center;
        color: #3c3c3c;
        font-family: Montserrat;
        border-bottom: 1px solid #ef767a;
        margin-left: 10em;
        margin-right: 10em;
        letter-spacing: 2px;
        display: table;
        margin: 0 auto;
    }
    .ruleBanners {
        padding: 0px;
        margin: 0px;
        padding-right: 14px;
        margin-top:2em;
    }
}