// Block: container-top

.container-top {
  display: block;
  //padding-top: 4rem;
  //background-color: $theme-color-main;
  //background-image : url("/web-dist/images/StockSnap_398D5R5P5L.jpg");
  //background-size: 2200px 1200px;
  //height: 1200px;
  text-align: center;
  position: relative;

  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    height: 1300px;
    margin: auto;
  }

  .carousel-caption {
    top: 60px;
    bottom: auto;
  }

  @media only screen and (max-width: 480px) {
    .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    height: 400px;
    margin: auto;
  }
}

  @include media-breakpoint-up(lg) {
    //padding-top: 7rem;
  }

  // Element: container-top-image

  &-image {
    width: 220px;
    height: 220px;
    transition: all .3s;

    &:hover {
      filter: brightness(1.1);
      -webkit-filter: brightness(1.1);
    }

    @include media-breakpoint-up(lg) {
      width: 320px;
      height: 320px;
    }
  }

  // Element: container-top-name

  &-name {
    @extend .theme-font;
    font-size: 2.5rem;
    padding-top: $spacer / 2;
    color: darken($theme-color-main, 50%);

    @include media-breakpoint-up(lg) {
      padding-top: $spacer;
      font-size: 4rem;
    }
  }

  // Element: container-top-headline

  &-headline {
    font-size: 1.5rem;
    margin: 1rem;
    color: darken($theme-color-main, 50%);

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }
  }
}
