// Block: container-top
.container-top {
  display: block;
  background-color: $theme-color-main;
  text-align: center;
  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;
  /* Center the background image */
  background-position: center;
  @media only screen and (max-width: 700px) {
    .carousel-inner {
      height: 120vh !important;
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 7rem;
  }
  .carousel-inner {
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    text-align: center;
    width: 100%;
  }
  .carousel-fade {
    .carousel-inner {
      .item {
        transition-property: opacity;
      }
      .item,
      .active.left,
      .active.right {
        opacity: 0;
      }
      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }
      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
    .carousel-control {
      z-index: 2;
      background:none !important;
    }
  }
}