// Block: container-top
.container-top {
  display: block;
  background-color: $theme-color-main;
  text-align: center;
  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;
  /* Center the background image */
  background-position: center;
  @media only screen and (max-width: 480px) {}
  @include media-breakpoint-up(lg) {
    padding-top: 7rem;
  } // Element: container-top-name
  &-name {
    @extend .theme-font;
    font-size: 7.5rem;
    padding-top: $spacer / 2;
    color: #3c3c3c;
    @include media-breakpoint-up(lg) {
      padding-top: $spacer;
      font-size: 7rem;
    }
    @media only screen and (max-width: 480px) {
      padding-top: $spacer;
      font-size: 3rem;
    }
  } // Element: container-top-headline
  &-headline {
    font-size: 5.5rem;
    margin: 1rem;
    color: #3c3c3c;
    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }
    @media only screen and (max-width: 480px) {
      padding-top: $spacer;
      font-size: 2rem;
    }
  }
  .carousel-inner {
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    text-align: center;
    width: 100%;
  }
  .carousel-fade {
    .carousel-inner {
      .item {
        transition-property: opacity;
      }
      .item,
      .active.left,
      .active.right {
        opacity: 0;
      }
      .active,
      .next.left,
      .prev.right {
        opacity: 1;
      }
      .next,
      .prev,
      .active.left,
      .active.right {
        left: 0;
        transform: translate3d(0, 0, 0);
      }
    }
    .carousel-control {
      z-index: 2;
    }
  }
}