<section class="container container-about">
    <div class="row">
        <div class="col-md-12 overlap">
            <div class="jumbotron wow animated fadeInUp" data-wow-delay="1s" data-wow-duration="2s" style="background-color:#0e3054; color:#79AFE8; padding-top:12px; opacity:0.5">
                <div class="page-header">
                    <p class="titletext" style="font-size:3rem; text-align:center">Home Away From Home
                    </p>
                </div>
                <div class="verticalLine">
                    <p style="color: white; font-size:1.6rem">Alpine homes offers the romance & beauty of Shimla known as Queen of hills. Located on the Kalka - Shimla
                        National Highway, a stroke before Shimla.</p>
                    <!--Just 2 km from Railway Station 3 km from Bus Stand & town
                    area 19 km from Jubbarhatti Airport.-->
                </div>
                <div class="InteriorImage">
                </div>
                <div class="ExteriorImage">
                </div>
            </div>
        </div>
    </div>
</section>