<section class="container container-about">
    <div class="row">
        <div class="col-md-12 overlap wow animated fadeInUp" data-wow-delay="1s" data-wow-duration="2s" style="background-color:#eee">
            <div class="jumbotron" style="background-color:#eee; color:#79AFE8; padding-top:12px">
                <div class="page-header">
                    <p class="titletext" style="font-size:3rem; text-align:center">Home Away From Home
                    </p>
                </div>
                <!--<div class="verticalLine">-->
                    <p style="color: white; font-size:1.3rem; padding-bottom:35px">Alpine homes offers the romance & beauty of Shimla known as Queen of hills. Located on the Kalka - Shimla
                        National Highway, a stroke before Shimla.</p>
                    <!--Just 2 km from Railway Station 3 km from Bus Stand & town
                    area 19 km from Jubbarhatti Airport.-->
                <!--</div>-->
                <div class="col-sm-12 col-md-6">
                    <div style="font-size:2.6rem; text-align:center; color:#79AFE8; font-family: 'Lobster', cursive;">
                        <span>Your Window</span>
                    </div>
                    <div class="verticalLine">
                        <p style="color: white; font-size:1.3rem">Alpine homes offers the romance & beauty of Shimla known as Queen of hills. Located on the Kalka
                            - Shimla National Highway, a stroke before Shimla.</p>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="InteriorImage">
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div style="font-size:2.6rem; text-align:center; color:#79AFE8; font-family: 'Lobster', cursive;">
                        <span>Your Home</span>
                    </div>
                    <div class="verticalLine">
                        <p style="color: white; font-size:1.3rem">Alpine homes offers the romance & beauty of Shimla known as Queen of hills. Located on the Kalka
                            - Shimla National Highway, a stroke before Shimla.</p>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="ExteriorImage">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>