<section class="container-fluid container-about">
    <div class="row" style="background-color:#eee; padding-top:0px">
        <!--<div class="col-md-12 wow animated fadeInUp" data-wow-delay="1s" data-wow-duration="2s">-->
        <div class="container">
            <div class="jumbotron" style="background-color:#eee; color:#79AFE8; padding-top:12px">
                <div class="page-header">
                    <p class="titletext" style="font-size:3rem; text-align:center; color:#0e3054; font-family: 'Lobster', cursive;">Home Away From Home
                    </p>
                </div>
                <!--<div class="verticalLine">-->
                <p style="color: #7a7e82; font-size:1.3rem; padding-bottom:35px">Our 2 Alpine Suites and 3 Delux Rooms offer the romance and beauty of Shimla, also kown as Queen of hills.
                    Alpine Homes provides an unforgettable experience of the hill station lifestyle which is ideal and perfect
                    choice for friends, families and couples to relax.Unwind the historical beauty of Shimla by visiting
                    The Mall Road, Scandal Point and Vice Regal Lodge. Also,find yourselves submerged in serenity and peace,surrounded
                    by greenery of Deodar,Pine forests and magnificient snowfall. </p>
                <!--Just 2 km from Railway Station 3 km from Bus Stand & town
                    area 19 km from Jubbarhatti Airport.-->
                <!--</div>-->
                <div class="col-md-12">
                    <div style="font-size:2rem; text-align:center; color:#0e3054; font-family: 'calibri'; font-weight:bold">
                        <span>Alpine Suites - &#8377 1800</span><br><br>
                    </div>
                    <div class="col-md-4" style="color:#0e3054;font-size:17px !important;">
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Premium mountain view</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Rooms with attched balcony</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>King size bed</div>
                        <i class="fa fa-columns roomTypeLogo"></i>
                        <div>Wardrobe</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Flat screen LED TV</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Sattelite Cable connection</div>
                        <i class="fa fa-wifi roomTypeLogo"></i>
                        <div>Wifi</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Complimentary water (2 bottles)</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Attached washroom</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Head Shower</div>
                    </div>
                    <div class="col-md-4" style="font-size:17px; color:#0e3054;">
                        <i class="fa fa-bitbucket roomTypeLogo"></i>
                        <div>Bath Amenities</div>
                        <i class="fa fa-fire roomTypeLogo"></i>
                        <div>24 Hours hot/cold water</div>
                        <i class="fa fa-coffee roomTypeLogo"></i>
                        <div>Housekeeping</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Car parking</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>cloak room</div>
                        <i class="fa fa-bed roomTypeLogo"></i>
                        <div>Iron & Ironing Boards*</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Transfer and Transport*</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Room service facility*</div>
                        <i class="fa fa-bed roomTypeLogo"></i>
                        <div>Extra bed*</div>
                        <i class="fa fa-cutlery roomTypeLogo"></i>
                        <div>Kitchen*</div>
                    </div>
                    <div class="col-md-4">
                        <div id="myCarouselSuites" class="carousel slide window" data-ride="carousel" align="center" data-interval="3000">
                            <!-- Indicators -->
                            <ol class="carousel-indicators hidden-xs">
                                <li data-target="#myCarouselSuites" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarouselSuites" data-slide-to="1"></li>
                                <li data-target="#myCarouselSuites" data-slide-to="2"></li>
                                <li data-target="#myCarouselSuites" data-slide-to="3"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">

                                <!--<div class="item active">
                                    <img class="center-block" src="./web-dist/images/Exteriors/snow6.jpg">
                                </div>-->

                                <div class="item active">
                                    <img class="center-block" src="./web-dist/images/Exteriors/View4.jpg">
                                </div>

                                <div class="item">
                                    <img class="center-block" src="./web-dist/images/Interior/Bed2.jpg">
                                </div>

                                <div class="item">
                                    <img class="center-block" src="./web-dist/images/Interior/Bath1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div style="font-size:2rem; text-align:center; color:#0e3054; font-family: 'calibri'; font-weight:bold">
                        <span>Delux Rooms - &#8377 1500</span><br><br>
                    </div>
                    <div class="col-md-4" style="color:#0e3054;font-size:17px !important;">
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>King size bed</div>
                        <i class="fa fa-columns roomTypeLogo"></i>
                        <div>Wardrobe</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Flat screen LED TV</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Sattelite Cable connection</div>
                        <i class="fa fa-wifi roomTypeLogo"></i>
                        <div>Wifi</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Attached washroom</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Head Shower</div>
                        <i class="fa fa-bitbucket roomTypeLogo"></i>
                        <div>Bath Amenities</div>
                        <i class="fa fa-fire roomTypeLogo"></i>
                        <div>24 Hours hot/cold water</div>
                    </div>
                    <div class="col-md-4" style="font-size:17px; color:#0e3054;">
                        <i class="fa fa-coffee roomTypeLogo"></i>
                        <div>Housekeeping</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Car parking</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>cloak room</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Iron & Ironing Boards*</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Transfer and Transport*</div>
                        <i class="fa fa-car roomTypeLogo"></i>
                        <div>Room service facility*</div>
                        <i class="fa fa-bed roomTypeLogo"></i>
                        <div>Extra bed*</div>
                        <i class="fa fa-cutlery roomTypeLogo"></i>
                        <div>Kitchen*</div>
                    </div>
                    <div class="col-md-4">
                        <div id="myCarouselRooms" class="carousel slide window" data-ride="carousel" align="center" data-interval="3500">
                            <!-- Indicators -->
                            <ol class="carousel-indicators hidden-xs">
                                <li data-target="#myCarouselRooms" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarouselRooms" data-slide-to="1"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">

                                <div class="item active">
                                    <img class="center-block" src="./web-dist/images/Interior/Bed1.jpg">
                                </div>

                                <div class="item">
                                    <img class="center-block" src="./web-dist/images/Interior/Bath1.jpg">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="color:#0e3054; font-size:13px; font-weight:bold">
                        <div>* On Request (Charges Extra)</div>
                        <div>** Room tarrif is applicable for double occupany.</div>
                        <div>** Tarrif is inclusive of taxes.</div>
                        <div>** Extra Bed / Person ₹500.</div>
                        <div>** Maximum of three persons per room.</div>
                        <div>** Check in 12 Noon & Check out 11:30 am.</div>
                        <div>** Children < 7 yrs complimentary without bed.</div><br>
                    </div>
                    <div class="col-md-4"></div>
                    <br>
                </div>
            </div>
        </div>
</section>