<section class="container-fluid container-about">
    <div class="row">
        <!--<div class="col-md-12" align=center>
            <h2 style='border:2px #79AFE8 solid; border-radius: 8px; padding:10px'>Amenities</h2>
        </div>-->
        <div class="col-md-12">
            <div class="jumbotron" style="background-color:white; color:#79AFE8; padding-top:0px">
                <div class="page-header" style="background-color:white; color:#79AFE8">
                    <p class="titletext" style="font-size:3rem; text-align:center; color:#0e3054; font-family: 'Lobster', cursive;">Amenities
                    </p>
                </div>
                <div class="row text-center">
                    <div class="col-sm-3 col-md-31 darktheme">
                        <span class="glyphicon glyphicon-off logo-small"></span>
                        <h4 style="color:white">Room Service</h4>
                        <!--<p>Lorem ipsum dolor sit amet..</p>-->
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <span class="glyphicon glyphicon-off logo-small"></span>
                        <h4>Wi-Fi</h4>
                        <!--<p  class = "description">Lorem ipsum dolor sit amet..</p>-->
                    </div>
                    <div class="col-sm-3 col-md-3 darktheme">
                        <span class="glyphicon glyphicon-heart logo-small"></span>
                        <h4 style="color:white">LED TVs with Satellite channels</h4>
                        <!--<p>Lorem ipsum dolor sit amet..</p>-->
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <span class="glyphicon glyphicon-lock logo-small"></span>
                        <h4>Hot/Cold running water</h4>
                        <!--<p class = "description">Lorem ipsum dolor sit amet..</p>-->
                    </div>
                </div>
                <br><br>
                <div class="row text-center">
                    <div class="col-sm-3 col-md-3">
                        <span class="glyphicon glyphicon-leaf logo-small"></span>
                        <h4>King Sized Bed</h4>
                        <!--<p class = "description">Lorem ipsum dolor sit amet..</p>-->
                    </div>
                    <div class="col-sm-3 col-md-3 darktheme">
                        <span class="glyphicon glyphicon-leaf logo-small"></span>
                        <h4 style="color:white">Drinking Water Purifier</h4>
                        <!--<p>Lorem ipsum dolor sit amet..</p>-->
                    </div>
                    <div class="col-sm-3 col-md-3">
                        <span class="glyphicon glyphicon-certificate logo-small"></span>
                        <h4>Kitchen (On Request)</h4>
                        <!--<p class = "description">Lorem ipsum dolor sit amet..</p>-->
                    </div>
                    <div class="col-sm-3 col-md-3 darktheme">
                        <span class="glyphicon glyphicon-wrench logo-small"></span>
                        <h4 style="color:white">Cloak Room</h4>
                        <!--<p>Lorem ipsum dolor sit amet..</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>