<section class="container container-about">
    <div class="row">
        <!--<div class="col-md-12" align=center>
            <h2 style='border:2px #79AFE8 solid; border-radius: 8px; padding:10px'>Amenities</h2>
        </div>-->
        <div class="col-md-12">
            <div class="jumbotron" style="background-color:white; color:#79AFE8">
                <div class="page-header" style="background-color:white; color:#79AFE8">
                    <p class="titletext" style="font-size:3rem">Amenities
                    </p>
                </div>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-off logo-small"></span>
                        <h4>POWER</h4>
                        <p class = "description">Lorem ipsum dolor sit amet..</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-heart logo-small"></span>
                        <h4>LOVE</h4>
                        <p class = "description">Lorem ipsum dolor sit amet..</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-lock logo-small"></span>
                        <h4>JOB DONE</h4>
                        <p class = "description">Lorem ipsum dolor sit amet..</p>
                    </div>
                </div>
                <br><br>
                <div class="row text-center">
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-leaf logo-small"></span>
                        <h4>GREEN</h4>
                        <p class = "description">Lorem ipsum dolor sit amet..</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-certificate logo-small"></span>
                        <h4>CERTIFIED</h4>
                        <p class = "description">Lorem ipsum dolor sit amet..</p>
                    </div>
                    <div class="col-sm-4">
                        <span class="glyphicon glyphicon-wrench logo-small"></span>
                        <h4>HARD WORK</h4>
                        <p class = "description">Lorem ipsum dolor sit amet..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>