<section class="container-fluid container-about">
    <div class="row">
        <!--<div class="col-md-12" align=center>
            <h2 style='border:2px #79AFE8 solid; border-radius: 8px; padding:10px'>Amenities</h2>
        </div>-->
        <div class="container">
            <div class="col-md-12">
                <div class="jumbotron" style="background-color:white; color:#7a7e82; padding-top:0px">
                    <div class="page-header" style="background-color:white; color:#79AFE8">
                        <p class="titletext" style="font-size:3rem; text-align:center; color:#0e3054; font-family: 'Lobster', cursive;">Places to Visit
                        </p>
                    </div>
                    <div class="row text-center">
                        <div class="flip-container col-sm-3 col-md-3 darktheme" ontouchstart="this.classList.toggle('hover');">

                            <div class="flipper fixedHeight">
                                <div class="front" style="padding-left:17%">
                                    <span><i class="fa fa-coffee fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i></span>
                                    <h4 style="color:white">Room Service</h4>
                                    <!--<p>Lorem ipsum dolor sit amet..</p>-->
                                </div>
                                <div class="back" style=" padding-right:13%">
                                    <span><i class="fa fa-coffee fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i></span>
                                    <h4 style="color:white">Room Service 2</h4>
                                    <!--<p>Lorem ipsum dolor sit amet..</p>-->
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 lightHeight" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front" style="padding-left:27%">
                                    <i class="fa fa-wifi fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>
                                    <h4>Wi-Fi</h4>
                                </div>
                                <div class="back" style=" padding-right:27%">
                                    <i class="fa fa-wifi fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>
                                    <h4>Wi-Fi</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 darktheme" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front" style="padding-left:8%">
                                    <span class="glyphicon glyphicon-hd-video logo-small" style=" padding-top:25px; padding-bottom:20px"></span>
                                    <h5 style="color:white">LED TV with Satellite Channels</h5>
                                </div>
                                <div class="back" style=" padding-right:-2%">
                                    <span class="glyphicon glyphicon-hd-video logo-small" style=" padding-top:25px; padding-bottom:20px"></span>
                                    <h5 style="color:white">LED TV with Satellite Channels</h5>
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 lightHeight" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front" style="padding-left:0%">
                                    <!--<i class="fa fa-bath fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>-->
                                    <i class="fa fa-shower fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>
                                    <h4>Hot/Cold running water</h4>
                                </div>
                                <div class="back" style=" padding-right:0%">
                                    <!--<i class="fa fa-bath fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>-->
                                    <i class="fa fa-shower fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>
                                    <h4>Hot/Cold running water</h4>
                                </div>
                            </div>
                        </div>









                    </div>
                    <div class="row text-center">
                        <div class="flip-container col-sm-3 col-md-3 lightHeight" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front" style="padding-left:15%">
                                    <i class="fa fa-bed fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>
                                    <h4>King Sized Bed</h4>
                                </div>
                                <div class="back" style=" padding-right:15%">
                                    <i class="fa fa-bed fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>
                                    <h4>King Sized Bed</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 darktheme" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front" style="padding-left:22%">
                                    <i class="fa fa-taxi fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>
                                    <h4 style="color:white">Travel Desk</h4>
                                </div>
                                <div class="back" style=" padding-right:22%">
                                    <i class="fa fa-taxi fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>
                                    <h4 style="color:white">Travel Desk</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 lightHeight" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front" style="padding-left:0%">
                                    <i class="fa fa-cutlery fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>
                                    <h4>Kitchen (On Request)</h4>
                                </div>
                                <div class="back" style=" padding-right:0%">
                                    <i class="fa fa-cutlery fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>
                                    <h4>Kitchen (On Request)</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 darktheme" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front" style="padding-left:22%">
                                    <span class="glyphicon glyphicon-briefcase logo-small" style="padding-top:35px; padding-bottom:15px"></span>
                                    <h4 style="color: white">Cloak Room</h4>
                                </div>
                                <div class="back" style=" padding-right:20%">
                                    <span class="glyphicon glyphicon-briefcase logo-small" style="padding-top:35px; padding-bottom:15px"></span>
                                    <h4 style="color: white">Cloak Room</h4>
                                </div>
                            </div>
                        </div>



                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>