<section class="container container-booknow">
    <div class="row">
        <div class="col-md-12">
            <!--<h2 style='border:2px #79AFE8 solid; border-radius: 8px; padding:10px'>Book Now!</h2>-->
            <div class="jumbotron" style="background-color:white; color:#79AFE8; padding:0px; background-color:white;">
                <div class="page-header">
                    <p class="titletext" style="background-color:white; font-size:3rem; text-align:center; font-family: 'Lobster', cursive; color:#0e3054">Send Enquiry
                    </p>
                </div>
            </div>
            <img class="center-block flowHorizontalImage" src="./web-dist/images/alpine.png">
            <img class="center-block flowVerticalImage" src="./web-dist/images/alpine_vert.png">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="usr" style="font-size:1.2rem">Name*</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="usr" style="font-size:1.2rem">Email*</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="usr" id="name" style="font-size:1.2rem">Mobile*</label>
                    <input type="text" class="form-control" id="mobile">
                </div>
                <!--<input type="text" name="daterange" value="01/01/2015 - 01/31/2015" onclick="getDatePicker();"/>-->
                <div class="form-group">
                    <label for="usr" style="font-size:1.2rem">Check-in*</label>
                    <input type='date' class="form-control" id="check-in" />
                </div>
                <div class="form-group">
                    <label for="usr" style="font-size:1.2rem">Check-out*</label>
                    <input type='date' class="form-control" id="check-out" />
                </div>
                <div class="form-group">
                    <label for="usr" style="font-size:1.2rem">Adults*</label>
                    <input type="text" class="form-control" id="Adults">
                </div>
                <div class="form-group">
                    <label for="usr" style="font-size:1.2rem">Kids</label>
                    <input type="text" class="form-control" id="Kids">
                </div>
                <div class="form-group">
                    <label for="usr" style="font-size:1.2rem">Room**</label>
                    <input type="text" class="form-control" id="Rooms">
                </div>
                <div class="form-group">
                    <label for="usr" style="font-size:1.2rem">Comment</label>
                    <input type="text" class="form-control" id="Comment">
                </div>
                <button type="button" class="btn btn-primary" id="enquireButton" style="width:100%; background-color:#0e3054">Basic</button>
            </div>
            <div class="col-sm-6">
                <p style="font-size:2rem; text-align:center; color:#0e3054; font-weight:bold">Booking Process</p><br>
                <ol style="font-size:17px">
                    <li>Enquiry request will be addressed by Alpine Homes Team.</li>
                    <li>The availability of accommodation along with the tariff details and Alpine Homes Account details will
                        be sent via email.</li>
                    <li>In order to confirm booking deposit 50% or the total amount into the our account and send us snapshot
                        of the online transfer.</li>
                    <li>Recieve a confirmation email from Alpine Homes.</li>
                    <li>Please adhere to these rules to make the process hassle free.</li>
                    <li>The booking date cannot be postponed if the date of booking is within a week.</li>
                    <li>The balance amount has to be paid before the check-out.</li>
                    <li>Accepted Mode of Payments: Internet Banking and Cash Payement.</li>
                    <li>Credit cards, debit cards and cheques are not accepted.</li>
                </ol><br><br>

                <p style="font-size:2rem; text-align:center; color:#0e3054; font-weight:bold">Cancellation Process</p><br>
                <ol style="font-size:17px">
                    <li>Before 15 days of the check in date --> Full refund.</li>
                    <li>Within 11 to 15 days of the check in date --> 25% deduction.</li>
                    <li>Within 6 to 10 days of the check in date --> 40% deduction.</li>
                    <li>Within 0 to 5 days of the check in date --> No refund.</li>
                </ol>
            </div>
        </div>
    </div>
</section>