<section class="container-fluid container-about">
    <div class="row" style="background-color:whitw; padding-top:0px">
        <!--<div class="col-md-12 wow animated fadeInUp" data-wow-delay="1s" data-wow-duration="2s">-->
        <div class="container">
            <div class="col-md-12 bookNowBox">
                <!--<h3>Check Availability!</h3>-->
                <div class="col-md-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Check-in*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right:0.9em">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                                <input type='date' class="form-control" id="check-in" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Name*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right:1.1em">N</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Mobile*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right:1em">
                                <i class="fa fa-mobile" aria-hidden="true" style="font-size:31px !important"></i>
                            </span>
                                <input type="text" class="form-control" aria-describedby="inputGroupSuccess2Status">
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Adults*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right:0.9em">
                                <i class="fa fa-users" aria-hidden="true" style="font-size:14px !important"></i>
                            </span>
                                <input type="text" class="form-control" aria-describedby="inputGroupSuccess2Status">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Check-out*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right:1em">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                                <input type='date' class="form-control" id="check-in" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Email*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right:1.1em">
                                <i class="fa fa-at" aria-hidden="true"></i>
                            </span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Room**</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right:1em">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </span>
                                <input type="text" class="form-control" aria-describedby="inputGroupSuccess2Status">
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label col-sm-3">Kids*</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right:1em">
                                <i class="fa fa-child" aria-hidden="true" style="font-size:21px !important"></i>
                            </span>
                                <input type="text" class="form-control" aria-describedby="inputGroupSuccess2Status">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="enquireButton">Enquire Now!</button>
            </div>
        </div>
    </div>
</section>