<section class="container-fluid container-booknow">
    <div class="row">
        <div class="container">
            <!--<h2 style='border:2px #79AFE8 solid; border-radius: 8px; padding:10px'>Book Now!</h2>-->
            <div class="jumbotron" style="background-color:white; color:#3c3c3c; background-color:white;">
                <div class="page-header">
                    <p class="titletext" style="font-size:1.8rem; text-align:center; color:#3c3c3c;padding:0px; font-family: Montserrat; border-bottom: 1px solid #ef767a; margin-left:10em; margin-right:10em; letter-spacing: 2px;">Send Enquiry
                    </p>
                </div>
                <img class="center-block flowHorizontalImage" style="width:100%" src="./web-dist/images/banners/booking.png">
                <img class="center-block flowVerticalImage" src="./web-dist/images/alpine_vert.png">
                <div class="col-md-12" style="margin-top:1em">
                </div>
                <div class="col-sm-6">
                    <p style="font-size:1.5em; text-align:center; color:#3c3c3c">Booking Process</p><br>
                    <ol style="font-size:0.9em">
                        <li>Enquiry request will be addressed by Alpine Homes Team.</li>
                        <li>The availability of accommodation along with the tariff details and Alpine Homes Account details
                            will be sent via email.</li>
                        <li>In order to confirm booking deposit 50% or the total amount into the our account and send us snapshot
                            of the online transfer.</li>
                        <li>Recieve a confirmation email from Alpine Homes.</li>
                        <li>Please adhere to these rules to make the process hassle free.</li>
                        <li>The booking date cannot be postponed if the date of booking is within a week.</li>
                        <li>The balance amount has to be paid before the check-out.</li>
                        <li>Accepted Mode of Payments: Internet Banking and Cash Payement.</li>
                        <li>Credit cards, debit cards and cheques are not accepted.</li>
                    </ol><br><br>
                </div>
                <div class="col-sm-6">
                    <p style="font-size:1.5em; text-align:center; color:#3c3c3c">Cancellation Process</p><br>
                    <ol style="font-size:0.9em">
                        <li>Before 15 days of the check in date --> Full refund.</li>
                        <li>Within 11 to 15 days of the check in date --> 25% deduction.</li>
                        <li>Within 6 to 10 days of the check in date --> 40% deduction.</li>
                        <li>Within 0 to 5 days of the check in date --> No refund.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>