<section class="container container-booknow">
    <div class="row">
        <!--<div class="col-md-12" align=c enter>
            <h2 style='border:2px #79AFE8 solid; border-radius: 8px; padding:10px'>Book Now!</h2>
        </div>-->
        <div class="jumbotron">
            <h1 style='padding:8px'><b>Book Now!</b></h1>
            <p style='padding:8px'>
                Alpine homes offers the romance and beauty of Shimla known as Queen of hills. Located on the Kalka - Shimla National Highway,
                a stroke before Shimla. Just 2 km from Railway Station 3 km from Bus Stand and town area 19 km from Jubbarhatti
                Airport.
            </p>
        </div>
    </div>
</section>