<footer class="container-fluid container-contacts">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="mapFrame" style="margin-bottom:1em;">
                    <div class="locationCard">
                        <i class="fa fa-map-marker"></i>
                        <div class="getInTouch">
                            <div><b>Get in Touch</b></div>
                        </div>
                        <div class="address">
                            <div><b>ALPINE HOMES</b></div>
                            <div>Dhir Niwas</div>Chakkar - Boileauganj Bypass Rd<br/>Sandal, Chakkar<br/>Shimla - 171005, Himachal
                            Pradesh, India<br>
                        </div>
                        <div>
                            <i class="fa fa-compass" aria-hidden="true"></i>
                            <a class="emailAndPhone" href="https://www.google.co.in/maps/dir/''/''/@31.0960561,77.0677468,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x3905793d696a5829:0x5957964586c99cd6!2m2!1d77.137787!2d31.096075"
                                target="_blank">
                                <u><b>Get Directions</b></u>
                            </a>
                        </div>
                        <div>
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a class="emailAndPhone" href="mailto:{{ site.email }}">
                                {{ site.email }}<br>
                            </a>
                        </div>
                        <div>
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a class="emailAndPhone" href="tel:{{ site.phone }}">
                                {{ site.phone }}
                            </a>
                        </div>
                    </div>
                    <iframe class="googleMap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13666.346156882119!2d77.135312!3d31.093426!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5957964586c99cd6!2sAlpine+Homes!5e0!3m2!1sen!2sin!4v1494994560727"
                        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
</footer>