<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 style='padding:15px'>Contacts</h2>
		<h3 style='padding:10px'>Address</h3>
		<h5 style='padding:9px'>Alpine Homes<br/>Chakkar - Boileauganj Bypass Rd<br/>Sandal, Chakkar<br/>Shimla, Himachal Pradesh<br/>India</h4>
		<h3 style='padding:10px'>Map</h3>
	    <div>
		<iframe width="600" height="450" frameborder="0" style="border:0; padding:10px" src="https://www.google.com/maps/embed/v1/place?q=alpine%20homes%20chakker&key=AIzaSyAfDvsBnjpXY_u9hUYQTStnsNkuxKwxdxs" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:{{ site.phone }}">
                    {{ site.phone }}
                </a>
            </div>
        </div>
    </div>
</footer>
