<section class="container-fluid container-location">
    <div class="row">
        <!--<div class="col-md-12" align=center>
            <h2 style='border:2px #79AFE8 solid; border-radius: 8px; padding:10px'>Amenities</h2>
        </div>-->
        <div class="container">
            <div class="col-md-12">
                <div class="jumbotron" style="background-color:white; color:#7a7e82; padding-top:4em">
                    <div class="page-header" style="background-color:white; color:#79AFE8; padding-bottom:2em">
                        <p class="titletext" style="font-size:3rem; text-align:center; color:#0e3054; font-family: 'Lobster', cursive;">Tourist Attractions
                        </p>
                    </div>
                    <div class="row text-center">
                        <!--Chail - 50 km<br>Glen Forest/Chadwick - 4.8 km, Jhaku Hanuman Temple-->
                        <div class="flip-container col-sm-3 col-md-3 darktheme" ontouchstart="this.classList.toggle('hover');">

                            <div class="flipper fixedHeight">
                                <div class="front">
                                    <img src="./web-dist/images/placesToVisit/Chail.jpg" style="width:250px; height:250px; margin-left:-15px">
                                </div>
                                <div class="back" style=" padding-right:17%; margin-top:45%">
                                    <!--<span><i class="fa fa-bus fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i></span>-->
                                    <h4 style="color:white">Chail- 50 KM</h4>
                                    <!--<p>Lorem ipsum dolor sit amet..</p>-->
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 lightHeight" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front">
                                    <img src="./web-dist/images/placesToVisit/Glen.jpg" style="width:250px; height:250px; margin-left:-15px">
                                </div>
                                <div class="back" style=" margin-top:40%">
                                    <!--<i class="fa fa-train fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>-->
                                    <h5>Glen Forest/Chadwick- 3.6 KM</h5>
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 darktheme" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front">
                                    <img src="./web-dist/images/placesToVisit/jhaku.jpg" style="width:250px; height:250px; margin-left:-15px">
                                </div>
                                <div class="back" style=" margin-top:40%">
                                    <!--<span class="glyphicon glyphicon-plane logo-small" style=" padding-top:25px; padding-bottom:20px"></span>-->
                                    <h5 style="color:white">Jhaku Hanuman Temple<br>16.5 KM</h5>
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 lightHeight" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front">
                                    <img src="./web-dist/images/placesToVisit/MallRoad.jpg" style="width:250px; height:250px; margin-left:-15px">
                                </div>
                                <div class="back" style=" padding-right:20%; margin-top:40%">
                                    <!--<i class="fa fa-bath fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>-->
                                    <!--<i class="fa fa-users fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>-->
                                    <h4>Mall Road<br>5 KM</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="flip-container col-sm-3 col-md-3 lightHeight" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front">
                                    <img src="./web-dist/images/placesToVisit/lakkar-bazaar-shops-2.jpg" style="width:250px; height:250px; margin-left:-15px">
                                </div>
                                <div class="back" style=" padding-right:15%; margin-top:40%">
                                    <!--<i class="fa fa-shopping-bag fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>-->
                                    <h4>Lakkar Bazaar<br>6KM</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 darktheme" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front">
                                    <img src="./web-dist/images/placesToVisit/Indian-Institute-of-Advanced-Study.jpg" style="width:250px; height:250px; margin-left:-15px">
                                </div>
                                <div class="back" style="margin-top:40%">
                                    <!--<i class="fa fa-university fa-5x" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>-->
                                    <h4 style="color:white">Indian Institute of Advanced Studies</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 lightHeight" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front">
                                    <img src="./web-dist/images/placesToVisit/kuffri.jpeg" style="width:250px; height:250px; margin-left:-15px">
                                </div>
                                <div class="back" style=" padding-right:35%; margin-top:40%">
                                    <!--<i class="glyphicon glyphicon-tree-conifer logo-small" aria-hidden="true" style="padding-top:50px; padding-bottom:20px"></i>-->
                                    <h4>Kuffri<br>22 KM</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flip-container col-sm-3 col-md-3 darktheme" ontouchstart="this.classList.toggle('hover');">
                            <div class="flipper fixedHeight">
                                <div class="front">
                                    <img src="./web-dist/images/placesToVisit/Naldehra.jpg" style="width:250px; height:250px; margin-left:-15px">
                                </div>
                                <div class="back" style="margin-top:40%; padding-right:28%">
                                    <!--<span class="glyphicon glyphicon-tree-conifer logo-small" style="padding-top:35px; padding-bottom:15px"></span>-->
                                    <h4 style="color: white">Naldera<br>20 KM</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>