<section class="container-fluid container-location">
    <div class="row" style="background-color:#eee">
        <div class="jumbotron" style="color:#79AFE8; padding-top:0px">
            <div class="page-header" style="padding-bottom:70px; margin-bottom:0px">
                <p class="titletext" style="font-size:3rem; text-align:center; color:#0e3054; font-family: 'Lobster', cursive;">Location
                </p>
            </div>
            <div class="features">
                <div class="feature-container">
                    <div class="wow fadeInLeft animated" align="right" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInLeft;">
                        <div class="col-md-4 col-sm-4 feature-content">
                            <h4 style="font-family: 'Lobster', cursive">ISBT Bus Stand</h4>
                            <p>5 km
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="feature-icon-container feature-1">
                                <!--<span class="glyphicon glyphicon-road logo-small"></span>-->
                                <i class="fa fa-bus fa-5x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">&nbsp;</div>
                    </div>
                    <div class="divideline"></div>
                    <br><br><br>
                    <div class="create-as-team group wow fadeInRight animated" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInRight;">
                        <div class="col-md-4 col-sm-4">&nbsp;</div>
                        <div class="col-md-4 col-sm-4">
                            <div class="feature-icon-container feature-2">
                                <!--<span class="glyphicon glyphicon-off logo-small"></span>-->
                                <i class="fa fa-train fa-5x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 consistent-margin feature-content">
                            <h4 style="font-family: 'Lobster', cursive">Railway-Station</h4>
                            <p class="feature-des">3.6 km</p>
                        </div>
                    </div>
                    <div class="divideline"></div>
                    <br>
                    <br>
                    <br>
                    <div class="wow fadeInLeft animated" align="right" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInLeft;">
                        <div class="col-md-4 col-sm-4 feature-content">
                            <h4 style="font-family: 'Lobster', cursive">Airport</h4>
                            <p>16.5 km
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="feature-icon-container feature-1">
                                <span class="glyphicon glyphicon-plane logo-small"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">&nbsp;</div>
                    </div>
                    <div class="divideline"></div>
                    <br>
                    <br>
                    <br>
                    <div class="create-as-team group wow fadeInRight animated" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInRight;">
                        <div class="col-md-4 col-sm-4">&nbsp;</div>
                        <div class="col-md-4 col-sm-4">
                            <div class="feature-icon-container feature-2">
                                <!--<span class="glyphicon glyphicon-road logo-small"></span>-->
                                <i class="fa fa-beer fa-5x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 consistent-margin feature-content">
                            <h4 style="font-family: 'Lobster', cursive">Mall Road</h4>
                            <p class="feature-des">5 km</p>
                        </div>
                    </div>
                    <div class="divideline"></div>
                    <br>
                    <br>
                    <br>
                    <div class="wow fadeInLeft animated" align="right" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInLeft;">
                        <div class="col-md-4 col-sm-4 feature-content">
                            <h4 style="font-family: 'Lobster', cursive">Lakkar Bazar</h4>
                            <p>6 km
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="feature-icon-container feature-1">
                                <!--<span class="glyphicon glyphicon-off logo-small"></span>-->
                                <i class="fa fa-shopping-bag fa-5x" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">&nbsp;</div>
                    </div>
                    <div class="divideline"></div>
                    <br>
                    <br>
                    <br>
                    <div class="create-as-team group wow fadeInRight animated" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInRight;">
                        <div class="col-md-4 col-sm-4">&nbsp;</div>
                        <div class="col-md-4 col-sm-4">
                            <div class="feature-icon-container feature-2">
                                <span class="glyphicon glyphicon-education logo-small"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 consistent-margin feature-content">
                            <h4 style="font-family: 'Lobster', cursive">Indian Institute of Advanced Studies</h4>
                            <p class="feature-des">3.6 km</p>
                        </div>
                    </div>
                    <div class="divideline"></div>
                    <br>
                    <br>
                    <br>
                    <div class="wow fadeInLeft animated" align="right" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInLeft;">
                        <div class="col-md-4 col-sm-4 feature-content">
                            <h4 style="font-family: 'Lobster', cursive">Must Visit Places</h4>
                            <p>Kuffri - 22 km<br>Naldera - 20 km<br>Chail - 50 km<br>Glen Forest/Chadwick - 4.8 km<br>Jhakhu Hanuman Temple
                                - 12 km
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="feature-icon-container feature-1">
                                <span class="glyphicon glyphicon-tree-conifer logo-small"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>