<section class="container-fluid container-location">
    <div class="row">
        <!--<div class="col-md-12" align=center>
            <h2 style='border:2px #79AFE8 solid; border-radius: 8px; padding:10px'>Amenities</h2>
        </div>-->
        <div class="">
            <div class="col-md-12">
                <div class="jumbotron" style="background-color:white; color:#7a7e82; padding-top:4em">
                    <div class="page-header" style="background-color:white; color:#79AFE8; padding-bottom:2em">
                        <p class="titletext" style="background-color:white; font-size:1.5em; text-align:center; font-family:Lato; color:#3c3c3c; border-bottom: 1px solid #ef767a">Tourist Attractions
                        </p>
                    </div>
                </div>
                <div class="col-md-4 locationCard">
                    <img src="./web-dist/images/placesToVisit/Chail.jpg" class="locationImage">
                </div>
                <div class="col-md-4 locationCard">
                    <img src="./web-dist/images/placesToVisit/Glen.jpg" class="locationImage">
                </div>
                <div class="col-md-4 locationCard">
                    <img src="./web-dist/images/placesToVisit/MallRoad.jpg" class="locationImage">
                </div>
                <div class="col-md-4 locationCard">
                    <img src="./web-dist/images/placesToVisit/Naldehra.jpg" class="locationImage">
                </div>
                <div class="col-md-4 locationCard">
                    <img src="./web-dist/images/placesToVisit/kuffri.jpeg" class="locationImage">
                </div>
                <div class="col-md-4 locationCard">
                    <img src="./web-dist/images/placesToVisit/Indian-Institute-of-Advanced-Study.jpg" class="locationImage">
                </div>
            </div>
        </div>
    </div>
</section>