<script>
    console.log('Scrip initiated');
    new WOW().init();

    function openModal() {
        document.getElementById('myModal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }

    function getDatePicker() {
        console.log('DatePicker called');
        daterangepicker();
    }
</script>
<style>
    @font-face {
        font-family: brusher;
        src: url("/web-dist/images/Brusher-Free-Font/Brusher.ttf");
    }
</style>
<div class="container-fluid navbarContainer">
    <nav class="navbar navbar-fixed-top">
        <button class="navbar-toggler hidden-sm-up collapsed" type="button" data-toggle="collapse" data-target="#CollapsingNavbar"
            aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
    </button>
        <div class="col-md-12 col-sm-12 col-md-12">
            <div class="col-sx-4 col-sm-4 col-md-4"></div>
            <div class="col-sx-4 col-sm-4 col-md-4">
                <div class="navbar-brand alpineLogo" href="/">Alpine Homes</div>
            </div>
            <div class="col-sx-4 col-sm-4 col-md-4">
                <div class="bookMyStay navbar-brand navBarButtons" href="/">
                    <a href=#myCarouselTop>
                        <div class="bookMyStayLabel">Book My Stay</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 navBarItems">
            <div class="collapse navbar-toggleable-xs" id="CollapsingNavbar">
                <ul class="nav navbar-nav navbarAlpineStyle">
                    <li class="nav-item">
                        <div class="nav-link" data-link=".container-about">Accommodation</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" data-link=".container-rules">Rules</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" data-toggle="modal" data-target="#myModal">Gallery</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" data-link=".container-location">Tourist Attractions</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" data-link=".container-booknow">Book Now</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" data-link=".container-reviews">Testimonials</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" data-link=".container-contacts">Get in Touch</div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>