<section class="container container-reviews">
    <div class="row">
        <div class="col-md-12" align = center>
            <h2 style='border:2px #79AFE8 solid; border-radius: 8px; padding:10px'>Reviews</h2>
        </div>
        <div align=center>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est diam, porttitor et arcu at, vehicula
                sodales libero. Sed fermentum luctus dapibus. Proin lobortis ipsum eu lobortis luctus.
                Donec elementum orci dui, eu euismod sem pellentesque sit amet. Nunc tempus consequat urna, vel
                consectetur odio mattis id. Nam nisi sem, tincidunt id risus et, auctor lacinia nulla. In hac habitasse
                platea dictumst.
            </p>
        </div>
    </div>
</section>
