<section class="container-fluid container-rules">
    <div class="row" style="background-color:white; padding-top:0px">>
        <div class="container">
            <div class="jumbotron" style="background-color:white; color:#79AFE8; padding-top:12px">
                <div class="page-header">
                    <p class="titletext" style="font-size:3rem; text-align:center; color:#0e3054; font-family: 'Lobster', cursive;">Rules & Regulations
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>