<section class="container-fluid container-rules">
    <div class="row" style="background-color:white; padding-top:0px">>
        <div class="container">
            <div class="jumbotron" style="background-color:white; color:#79AFE8; padding-top:12px">
                <div class="page-header">
                    <p class="titletext" style="font-size:3rem; text-align:center; color:#0e3054; font-family: 'Lobster', cursive;">Rules & Regulations
                    </p>
                </div>
                <div style="color: #0e3054; font-size:17px; padding-bottom:35px">
                    <div class="col-md-6">
                        <div class="rulesList">
                        <i class="material-icons">wc</i>
                        <div>Room tarrif is applicable for double occupany.</div>
                        </div>
                        <div class="rulesList">
                        <i class="fa fa-money" aria-hidden="true"></i>
                        <div>Tarrif is inclusive of taxes.</div>
                        </div>
                        <div class="rulesList">
                        <i class="material-icons">airline_seat_flat</i>
                        <div>Extra Bed / Person ₹500.</div>
                        </div>
                        <div class="rulesList">
                        <i class="material-icons">smoke_free</i>
                        <div>Smoking free rooms</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rulesList">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div>Maximum of three persons per room.</div>
                        </div>
                        <div class="rulesList">
                        <i class="material-icons">alarm</i>
                        <div>Check in 12 Noon & Check out 11:30 am.</div>
                        </div>
                        <div class="rulesList">
                        <i class="material-icons">child_care</i>
                        <div>Children < 7 yrs complimentary without bed.</div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
</section>