<section class="container-fluid container-rules">
    <div class="row">
        <div class="container">
            <div class="jumbotron">
                <div class="page-header">
                    <p class="titletext">Rules & Regulations
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 ruleBanners">
                        <img class="center-block" src="./web-dist/images/banners/Rules1.png" style="width:97%">
                    </div>
                    <div class="col-md-6 ruleBanners">
                        <img class="center-block" src="./web-dist/images/banners/Rules2.png" style="width:97%">
                    </div>
                </div>
            </div>
        </div>
</section>