<section class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="jumbotron" style="background-color:white">
                <div id="fb-root"></div>
                <script>
                    (function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                </script>
                <div class="fb-like" data-href="https://www.facebook.com/Alpinehomes.bnb/" data-layout="standard" data-action="like" data-size="large"
                    data-show-faces="true" data-share="true"></div>
                <div class="google-like">
                    <a href="https://search.google.com/local/writereview?placeid=ChIJKVhqaT15BTkR1pzJhkWWV1k" target="_blank">
                        <img class="center-block" src="./web-dist/images/banners/GoogleReview2.png" style="width:13%; float:left; margin-top:2em">
                    </a>
                </div>

            </div>
        </div>
    </div>
</section>